<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Hell Knight</td>
      <td>River of Flame</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Fallen One</td>
      <td>Cold Plains</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Putrid Defiler</td>
      <td>Halls of Pain</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Fallen Shaman</td>
      <td>Cold Plains</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Spike Fiend</td>
      <td>Dark Wood</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zombie</td>
      <td>Den of Evil</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>The Countess</td>
      <td>Forgotten Tower</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Vile Hunter</td>
      <td>Dark Wood</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Dark Stalkers</td>
      <td>Tower Cellar</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Skeleton Archers</td>
      <td>Cathedral</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Moon Clan</td>
      <td>Stony Field</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Foul Crow</td>
      <td>Stony Field</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Night Clan</td>
      <td>Black Marsh</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sand Leaper</td>
      <td>Rocky Waste</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Scarab</td>
      <td>Maggot Lair</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sand Maggot</td>
      <td>Far Oasis</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Claw Viper</td>
      <td>Valley of Snakes</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Lightning Spire</td>
      <td>Arcane Sanctuary</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Fetish Shaman</td>
      <td>Spider Forest</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Blood Wing</td>
      <td>Sewers</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Thrashers</td>
      <td>Kurast Bazaar</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Bramble Hulk</td>
      <td>Great Marsh</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Swamp Dweller</td>
      <td>Great Marsh</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Bog Creature</td>
      <td>Great Marsh</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sexton</td>
      <td>Kurast Bazaar</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zakarum Zealot</td>
      <td>Travincal</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Oblivion Knight</td>
      <td>Chaos Sanctuary</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Doom Knight</td>
      <td>Chaos Sanctuary</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Regurgitator</td>
      <td>Plain of Despair</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Vile Mother</td>
      <td>Plain of Despair</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Vile Child</td>
      <td>Outer Steppes</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Trapped Soul</td>
      <td>Outer Steppes</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Blood Lord</td>
      <td>Frigid Highlands</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Death Mauler</td>
      <td>Bloody Foothills</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Demon Imp</td>
      <td>Arreat Plateau</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Siege Beasts</td>
      <td>Arreat Plateau</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Overseer</td>
      <td>Bloody Foothills</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Succubus</td>
      <td>Crystalling Passage</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Vile Tempress</td>
      <td>Drifter Cavern</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Venom Lord</td>
      <td>Worldstone Keep</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Barricade Tower</td>
      <td>Arreat Plateau</td>
      <td>3</td>
    </tr>
  </tbody>
</table>