<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login to Profile</title>
    <link rel="stylesheet" href={{url_for('static',filename='main.css')}}>
  </head>
  <body> -->
  {% extends "base.html" %}
  {% block title %}Login to Profile!{% endblock %}
  {% block content %}
    <form method="POST">
      <input type ="text" name="utag" placeholder="Username">
      <br>
      <input type="password" name="pass" placeholder="Password">
      <br>
      <input type = "submit" value="Submit">
      <input type = "reset" value="Reset">
      <br><br>
      Not A User Yet?:
      <a href="/registration">Register!<a>
    </form>
    {% endblock %}
  <!-- </body>
</html> -->
