{% extends "base.html" %}
  {% block title %}Login to Profile!{% endblock %}
  {% block content %}
    <!-- <form method="POST">
      <input type ="text" name="utag" placeholder="Username">
      <br>
      <input type="password" name="pass" placeholder="Password">
      <br>
      <input type = "submit" value="Submit" class="btn btn-primary">
      <input type = "reset" value="Reset" onclick="alert('Resetting Values!!')">
      <br><br>
      Not A User Yet?:
      <a href="/registration">Register!<a>
    </form> -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <div class="login">
        <h2 class="active"> sign in </h2>
        <!-- <h2 class="nonactive">sign up</h2> -->
        <form method="POST">
          <input type="text" class="text" name="utag" placeholder="Usertag">
          <span>usertag</span>
          <br>
          <br>
          <input type="password" class="text" name="pass" placeholder="Password">
          <span>password</span>
          <br>
          <!-- <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
          <label for="checkbox-1-1">Keep me Signed in</label> -->
          <div class="msg">{{error}}</div>
          <br>
          <button class="signin" type="submit">
            Sign In
          </button>
          <hr>
          <a href="/registration">REGISTER</a>
        </form>
      </div>
  {% endblock %}
