{% extends "base.html" %}
  {% block title %}Registration Form{% endblock %}
  {% block content %}
    <!-- <h1>Fill up the form and register:</h1>
    <form method="POST">
      <input type ="text" name="name" placeholder="Full Name">
      <br>
      <input type="password" name="pass" placeholder="Password">
      <br>
      <input type ="text" name="utag" placeholder="Usertag/ID">
      <br>
      <input type="email"  name="e_mail" placeholder="Email Address">
      <br>
      <input type = "submit" value="Login">
      <input type = "reset" value="Reset" onclick="alert('Resetting Values!')">
      <br><br>
      Back to login page:
      <a href="/">Login!!<a>
      <br><br>
    </form> -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <div class="login">
        <h2 class="active">Register:</h2>
        <!-- <h2 class="nonactive">sign up</h2> -->
        <form method="POST">
          <input type="text" class="text" name="name" placeholder="Full Name">
          <!-- <span>full name</span> -->
          <br>
          <input type="password" class="text" name="pass" placeholder="Password">
          <!-- <span>password</span> -->
          <br>
          <input type="text" class="text" name="utag" placeholder="Usertag/ID">
          <!-- <span>Usertag</span> -->
          <br>
          <input type="text" class="text" name="e_mail" placeholder="Email Address">
          <!-- <span>Email</span> -->
          <br>
          <!-- <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
          <label for="checkbox-1-1">Keep me Signed in</label> -->
          <button class="signin" type="submit">
            Submit
          </button>
          <hr>
          <a href="/">BACK TO LOGIN!</a>
        </form>
      </div>
  {% endblock %}
