<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
  </head>
  <body>
    <h1>Fill up the form and register:</h1>
    <form method="POST">
      <input type ="text" name="name" placeholder="Username">
      <br>
      <input type="password" name="pass" placeholder="Password">
      <br>
      <input type ="text" name="utag" placeholder="Usertag/ID">
      <br>
      <input type="email"  name="e_mail" placeholder="Email Address">
      <br>
      <input type = "submit" value="Submit">
      <input type = "reset" value="Reset">
      <br><br>
    </form>
  </body>
</html>
